@import 'bootstrap';

@mixin drop-shadow {
    @include box-shadow(0px 0px 10px 2px #888);
    }

@mixin panel ($color) {
    background-color:$color;
    padding:0.5em 1em;
    margin:0.5em 0;
    @include drop-shadow;
    @include border-radius($panelRadius)
    }
