$groupRadius:15px;
$evenItemColor:$red;
$oddItemColor:$grayLighter;

.boards{

    .board-group-item{
	font-size:$fontSizeLarge;
	padding:0.25em 0.5em;	
	margin:0.5em 0;
	@include drop-shadow;
	@include border-radius($groupRadius);
	@include gradient-vertical($evenItemColor,$oddItemColor);
    }

    .board-item{
	border:1px solid $grayLight;
	border-bottom:0px;	
	margin:0 $groupRadius;
	padding:0.5em;
	
	&.even{
	    background-color:$evenItemColor;
	}
	&.odd{
	    background-color:$oddItemColor;
	}
	&.last{
	    border-bottom:1px solid $grayLight;	
	}

	.board-item-show{
	    a{font-size:$fontSizeLarge;}
	    span{font-style:italic;}
	}

    }
}
