@import 'helpers/all';

$globalWidth:1000px;
$globalHeight:1000px;
$tabButtonWidth:7em;
$tabButtonHeight:2em;



.global {
    background-color:$white;
    @include gradient-vertical-three-colors($blue, $white, $backgroundGradientStop, $white);
    
    .middle {
	padding: 0.5em 0;
	@include size($globalHeight,$globalWidth);
	@include center-block();

	.logo{
	    @include spriteLogo;
	    }
	
	.tabs{

	    @include panel($yellow);
	    ul{
		margin:0;
		li{
		    line-height:$tabButtonHeight;
		    width:$tabButtonWidth;
		    display:inline-block;
		    text-align:center;

		    a {@include transition(color 0.2s ease-in);}
		    a, a:hover, a:visited, a:active
		    {
			font-size:$fontSizeLarge;			
			color:$black;
			outline:none;
			text-decoration:none;
		    }
		    a:hover{color:$blue;}
		    
		    &.selected
		    {
			a:hover {color:$black;}
			@include border-radius($panelRadius);
			@include box-shadow(0px 0px 5px 2px #888);
			@include gradient-vertical(lighten($blue, 20%),$blue);
		    }
		}
	    }
	}

	.display{
	    @include panel($yellow)
	}
	
    }
    
}

