@import 'helpers/all';
@import 'tabs';

$globalWidth:1000px;
$globalHeight:1000px;



.global {
    background-color:$white;
    @include gradient-vertical-three-colors($blue, $white, $backgroundGradientStop, $white);
    
    .middle {
	padding: 0.5em 0;
	@include size($globalHeight,$globalWidth);
	@include center-block();

	.logo{
	    @include spriteLogo;
	}

	.tabs{
	    //see tabs module
	    }
	
	.display{
	    @include panel($yellow)
	}
	
    }
    
}

